#pay_with_amazon,
#pay_with_amazon_cart,
#pay_with_amazon_product {
	margin: 0px auto;
	max-width: 100%;
	line-height: 1em;
	display: block;
	border: 0;
	text-align: right;
}
#pay_with_amazon img,
#pay_with_amazon_cart img,
#pay_with_amazon_product img {
	width: auto !important;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: none;
	border: 0;
	padding: 0;
	margin: 0;
	display: inline-block;
}
#amazon_addressbook_widget div,
#amazon_wallet_widget div {
	min-width: 300px;
	min-height: 300px;
	margin: 0 auto !important;
}
.woocommerce-info #pay_with_amazon,
.woocommerce-info #pay_with_amazon_cart,
.woocommerce-info #pay_with_amazon_product {
	float: right;
}
#amazon_customer_details.wc-amazon-payments-advanced-populated
	+ #customer_details {
	display: none;
}
#amazon_consent_widget {
	width: 100%;
	height: 120px;
}
.wc-amazon-payments-advanced-order-day-widgets {
	min-height: 300px;
	width: 100%;
}
.wc-amazon-payments-advanced-order-day-widget {
	width: 49%;
	min-width: 275px;
	float: left;
}
.wc-amazon-payments-advanced-order-day-widget:first-child {
	margin-right: 10px;
	margin-bottom: 10px;
}
#payment .payment_methods li #pay_with_amazon img,
#payment .payment_methods li #pay_with_amazon_cart img,
#payment .payment_methods li #pay_with_amazon_product img {
	max-height: 100%;
}
form.checkout .hidden {
	display: none !important;
}
.wc-apa-widget-change {
	float: right;
}

#amazon_change_shipping_address {
	position: absolute;
	right:0;
	top:-2.5rem;
}

.wc-apa-amazon-logo {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 1em;
	width: 5.75em;
	padding-right: 0.5em;
	margin-right: 0.5em;
	bottom: -0.4375em;
}

img.wc-apa-amazon-logo {
	object-fit: contain;
	object-position: 0 0;
}

span.wc-apa-amazon-logo {
	background-image: url('../images/logo-amazonpay-primary-fullcolor-positive.svg');
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

#shipping_address_widget,
#payment_method_widget,
#billing_address_widget {
	margin-bottom: 1.618em;
}

.woocommerce-order-pay {
	.wc_apa_login_again_text + #pay_with_amazon,
	.wc_apa_login_again_text + #pay_with_amazon_cart,
	.wc_apa_login_again_text + #pay_with_amazon_product {
		margin-top: 1em;
	}
	#order_review {
		#payment {
			.payment_box.payment_method_amazon_payments_advanced {
				#payment_method_widget,
				#shipping_address_widget,
				#billing_address_widget {
					margin-bottom: 0;
					& + #payment_method_widget,
					& + #shipping_address_widget,
					& + #billing_address_widget {
						margin-top: 1.618em;
					}
					h3 {
						padding: 0;
					}
				}
			}
		}
	}
}

.wc-apa-button-separator {
	margin: 1.5em 0;
	text-align: center;
	display: none;
}

#classic_pay_with_amazon {
	display: none;
}

#pay_with_amazon_product {
	margin: 0.7em auto;
}

.site-header .widget_shopping_cart div.buttons {
	padding-left: 1.41575em;
	padding-right: 1.41575em;
}
