parameters:
	level: 3
	treatPhpDocTypesAsCertain: false
	scanDirectories:
		- ../woocommerce-subscriptions/
	bootstrapFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	paths:
		- woocommerce-gateway-amazon-payments-advanced.php
		- includes/
	excludePaths:
		analyse:
			- *-legacy.php
			- includes/compats/
	ignoreErrors:
		# Uses func_get_args()
		- '#Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.#'
includes:
	- phpstan-baseline.neon
